*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bag-button{
    width: 150px;
    font-size: 1.4rem;
    background-color: aquamarine;
    border-radius: 10px;
    border: none;
    border: 1px solid gray;
}

.wish-button{
    width: 220px;
    font-size: 1.6rem;
    border: none;
    border: 1px solid gray;
    border-radius: 15px;
    margin: 5px;
}